* {
    box-sizing: border-box;
    font-family: Optima, Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

body h1 {
    font-size: 40px;
    padding: 20px;
}

body p {
    font-size: 30px;
    padding: 10px;
}

body h3 {
    font-size: 35px;
    padding: 7px;
    margin: 50px;
}

body h4 {
    font-size: 30px;
    padding: 7px;
    margin: 50px;
}

body button {
    font-size: 30px;
    padding: 20px;
    color: white;
    background-color: rgb(10, 44, 10);
    box-shadow: 10px 5px 5px lightgray;
    border-radius: 15px;
    letter-spacing: 5px;
}

body #main-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 70px;
}

header {
    display: flex;
    justify-content: space-between;
}

header #highscore {
   display: inline-block;
   font-size: 25px;
   margin: 50px;
}

header #countdown {
    display: inline-block;
    font-size: 25px;
    margin: 50px;
}

#quiz-area {
    display: none;
    padding: 10px;
    font-size: 30px;
}

#score-form {
    display: none;
    margin: 50px;
}

div form label {
    font-size: 30px;
}
